<!--
  Generated template for the PickNumberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sorteio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-grid >
    <ion-row id="numberPickNumber-area">
      <ion-col col-sm-12><h1>{{randomNumber}}</h1></ion-col>
    </ion-row>
    <ion-row id="buttonsPickNumber-area">
      <ion-col col-sm-6><button ion-button small [disabled]="isActivated" class="buttonsPickNumber"  (click)="start()" >Sortear</button></ion-col>
      <ion-col col-sm-6><button ion-button small class="buttonsPickNumber" (click)="stop()">Parar</button></ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
