page-pick-number {

    #numberPickNumber-area{
        margin: auto;
        position: relative;
        top:222px;

        ion-col{
            height: 29px;
                h1{
                    font-size: 58px;
                }
        }
       
    }

    

    #buttonsPickNumber-area{
        position: relative;
        top:380px;
        margin: auto;
    }
}
