<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="img-logo"> 
    <!-- Reference -->
  </div>

  <ion-grid id="buttonsHome-area">
    <ion-row>
      <ion-col col-sm-12><button ion-button full class="buttonsHome" (click)="moveToPickNumber()">Sortear</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-sm-12><button ion-button full class="buttonsHome" (click)="moveToNumberOfCards()">Cartela</button></ion-col>
    </ion-row>
  </ion-grid>  
  
  
  

</ion-content>
