page-home {
    #img-logo{
        border:1px solid red;
        height: 250px;
        margin-top:80px;;
    }

    #buttonsHome-area{
        margin-top: 100px;

        .buttonsHome{
            // background-color: red;
            border-radius: 5px;
        }
    }
}
