<!--
  Generated template for the NumberOfCardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>numberOfCards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list radio-group [(ngModel)]="cardsQuantity">
        <ion-list-header>
          Number Of Cards
        </ion-list-header>
      
        <ion-item>
          <ion-label>1</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>2</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>3</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>4</ion-label>
            <ion-radio value="4"></ion-radio>
          </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-sm-12><button ion-button full (click)="moveToCards()">OK</button></ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
