page-cards {
    #card{
        border-bottom: 1px solid black;
        padding: 10px;
        margin: 10px;

        #bingo-letters{
            position:relative;
            left:19px;

            @media screen and (min-width: 576px) {
                position:relative;
                left:10px;
            }
            ion-col{
                margin-left: 9px;

                @media screen and (min-width: 576px) {
                    margin-left: 20px;
                    
                }
            }
        }
    }
}
