<!--
  Generated template for the CardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cartela</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid *ngIf = "numberOfCards==1">
    <div id="card">
      <ion-row id="bingo-letters">
        <ion-col col-2><h1>B</h1></ion-col>  
        <ion-col col-2><h1>I</h1></ion-col> 
        <ion-col col-2><h1>N</h1></ion-col> 
        <ion-col col-2><h1>G</h1></ion-col> 
        <ion-col col-2><h1>O</h1></ion-col>   
      </ion-row>
      <ion-row *ngFor = "let x of card">
        <ion-col *ngFor = "let y of x">
          <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
            {{y}}
        </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
<!-- -------------------------2 Cards-------------------------------------------------------- -->
  <ion-grid *ngIf = "numberOfCards==2">
      <div id="card">
        <ion-row id="bingo-letters">
          <ion-col col-2><h1>B</h1></ion-col>  
          <ion-col col-2><h1>I</h1></ion-col> 
          <ion-col col-2><h1>N</h1></ion-col> 
          <ion-col col-2><h1>G</h1></ion-col> 
          <ion-col col-2><h1>O</h1></ion-col>   
        </ion-row>
        <ion-row *ngFor = "let x of card">
          <ion-col *ngFor = "let y of x">
            <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
              {{y}}
          </button>
          </ion-col>
        </ion-row>
      </div>

      <div id="card">
        <ion-row id="bingo-letters">
            <ion-col col-2><h1>B</h1></ion-col>  
            <ion-col col-2><h1>I</h1></ion-col> 
            <ion-col col-2><h1>N</h1></ion-col> 
            <ion-col col-2><h1>G</h1></ion-col> 
            <ion-col col-2><h1>O</h1></ion-col>   
        </ion-row>
        <ion-row *ngFor = "let x of card2">
          <ion-col *ngFor = "let y of x">
            <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
              {{y}}
            </button>
          </ion-col>
        </ion-row>
      </div>
  </ion-grid>
      
<!-- -----------------------------3 cards------------------------------------------------------ -->
    <ion-grid *ngIf = "numberOfCards==3">
        <div id="card">
          <ion-row id="bingo-letters">
            <ion-col col-2><h1>B</h1></ion-col>  
            <ion-col col-2><h1>I</h1></ion-col> 
            <ion-col col-2><h1>N</h1></ion-col> 
            <ion-col col-2><h1>G</h1></ion-col> 
            <ion-col col-2><h1>O</h1></ion-col>   
          </ion-row>
          <ion-row *ngFor = "let x of card">
            <ion-col *ngFor = "let y of x">
              <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                {{y}}
            </button>
            </ion-col>
          </ion-row>
        </div>

        <div id="card">
          <ion-row id="bingo-letters">
              <ion-col col-2><h1>B</h1></ion-col>  
              <ion-col col-2><h1>I</h1></ion-col> 
              <ion-col col-2><h1>N</h1></ion-col> 
              <ion-col col-2><h1>G</h1></ion-col> 
              <ion-col col-2><h1>O</h1></ion-col>   
            </ion-row>
            <ion-row *ngFor = "let x of card2">
              <ion-col *ngFor = "let y of x">
                <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                  {{y}}
              </button>
              </ion-col>
            </ion-row>
          </div>

          <div id="card">
            <ion-row id="bingo-letters">
                <ion-col col-2><h1>B</h1></ion-col>  
                <ion-col col-2><h1>I</h1></ion-col> 
                <ion-col col-2><h1>N</h1></ion-col> 
                <ion-col col-2><h1>G</h1></ion-col> 
                <ion-col col-2><h1>O</h1></ion-col>   
              </ion-row>
              <ion-row *ngFor = "let x of card3">
                <ion-col *ngFor = "let y of x">
                  <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                    {{y}}
                </button>
                </ion-col>
              </ion-row>
            </div>
      </ion-grid>
<!-- ---------------------------------------4 cards----------------------------------------------- -->
      <ion-grid *ngIf = "numberOfCards==4">
          <div id="card">
            <ion-row id="bingo-letters">
              <ion-col col-2><h1>B</h1></ion-col>  
              <ion-col col-2><h1>I</h1></ion-col> 
              <ion-col col-2><h1>N</h1></ion-col> 
              <ion-col col-2><h1>G</h1></ion-col> 
              <ion-col col-2><h1>O</h1></ion-col>   
            </ion-row>
            <ion-row *ngFor = "let x of card">
              <ion-col *ngFor = "let y of x">
                <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                  {{y}}
              </button>
              </ion-col>
            </ion-row>
          </div>

          <div id="card">
            <ion-row id="bingo-letters">
                <ion-col col-2><h1>B</h1></ion-col>  
                <ion-col col-2><h1>I</h1></ion-col> 
                <ion-col col-2><h1>N</h1></ion-col> 
                <ion-col col-2><h1>G</h1></ion-col> 
                <ion-col col-2><h1>O</h1></ion-col>   
              </ion-row>
              <ion-row *ngFor = "let x of card2">
                <ion-col *ngFor = "let y of x">
                  <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                    {{y}}
                </button>
                </ion-col>
              </ion-row>
            </div>

            <div id="card">
              <ion-row id="bingo-letters">
                  <ion-col col-2><h1>B</h1></ion-col>  
                  <ion-col col-2><h1>I</h1></ion-col> 
                  <ion-col col-2><h1>N</h1></ion-col> 
                  <ion-col col-2><h1>G</h1></ion-col> 
                  <ion-col col-2><h1>O</h1></ion-col>   
                </ion-row>
                <ion-row *ngFor = "let x of card3">
                  <ion-col *ngFor = "let y of x">
                    <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                      {{y}}
                  </button>
                  </ion-col>
                </ion-row>
              </div>

              <div id="card">
                <ion-row id="bingo-letters">
                    <ion-col col-2><h1>B</h1></ion-col>  
                    <ion-col col-2><h1>I</h1></ion-col> 
                    <ion-col col-2><h1>N</h1></ion-col> 
                    <ion-col col-2><h1>G</h1></ion-col> 
                    <ion-col col-2><h1>O</h1></ion-col>   
                </ion-row>
                <ion-row *ngFor = "let x of card4">
                  <ion-col *ngFor = "let y of x">
                    <button ion-button  color="light" [ngClass]="{'activated' : isActivated}" >
                      {{y}}
                  </button>
                  </ion-col>
                </ion-row>
              </div>
        </ion-grid>

</ion-content>
